body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: var(--login-bg);
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--bg);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow);
}

.login_header {
  text-align: center;
}

.login_header h1 {
  margin: 0;
  font-size: 56px;
}

.login_header h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 32px;
}

.login_form {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login_form_group {
  display: flex;
  flex-direction: column;
}

/* .login_form_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
} */

.login_form_group label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 50px;
}

.login_form_group input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--table-highlight);
  box-shadow: 0 4px 8px var(--shadow);
  transition: background-color .3s;
  padding: 10px;
  width: 340px;
}

.login_form_group select {
  all: unset;
  appearance: menulist;
  width: 340px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--table-highlight);
  box-shadow: 0 4px 8px var(--shadow);
  transition: background-color .3s;
  font-size: 16px;
}

.login_form_group select:hover {
  background-color: var(--table-highlight);
}

/* .login_form_row .login_form_group input {
  width: 140px;
} */

.login_form_group input:hover {
  background-color: var(--table-highlight);
}

/* .reset_button {
  background-color: var(--highlight-danger);
  color: var(--button-font);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s;
  box-shadow: 0 4px 8px var(--shadow);
  font-size: 16px;
  text-align: center;
  display: flex;
  font-weight: bold;
} */

/* .reset_button:hover {
  background-color: var(--highlight-danger-selected);
} */

.login_button_group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.login_button_group button {
  background-color: var(--button-bg);
  color: var(--button-font);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .3s;
  box-shadow: 0 4px 8px var(--shadow);
  font-size: 16px;
}

.login_button_group button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login_button_group button:hover {
  background-color: var(--button-bg-selected);
}

.login_button_group a {
  text-decoration: none;
  color: inherit;
}

.login_buttons {
  margin-top: 0;
}

/* .register_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 40px;
} */

@media screen and (max-width: 768px) {
  .login_form_group input {
    width: 200px;
  }

  .button_container {
    flex-direction: column;
    align-items: center;
  }

  /* .login_form_row {
    flex-direction: column;
    align-items: center;
  } */

  /* .login_form_row .login_form_group input {
    width: 200px;
  } */

  /* .register_container {
    justify-content: center;
  } */
}