.mapbox_legend {
  list-style:none;
  padding:0;
  margin-top:10px;
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

.mapbox_legend li span {
  display:inline-block;
  width:15px;
  height:15px;
  border-radius:50%;
  margin-right:5px;
}

.mapbox_legend li span.orange {
  background: orange;
}

.mapbox_legend li span.green {
  background: green;
}

.mapbox_legend li span.purple {
  background: purple;
}

.mapbox_legend li span.yellow {
  background: yellow;
}

.mapbox_legend li span.pink {
  background: pink;
}

.mapbox_legend li span.blue {
  background: blue;
}

.mapbox_legend li span.red {
  background: red;
}